@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald&display=swap');

body {
  font-family: 'Didact Gothic';
  font-size:20px;
  color: white;
  background-color: black;

}

.app {
  margin:60px 20px;
  display: flex;
  .cities {
    width: 40%;
  }
  .active-city {
    width: 70%;
    margin:0px;
    padding: 0px 15px;
    border-radius: 4px;
    h3 {
      margin-top: 0px;
      font-size:70px;
      font-family:'Oswald';
    }
    img {
      width:95%;


    }
  }
}

.fixed {
  position:fixed;
 }

#pick-city {
  font-family:'Oswald';
  font-size:60px;
  text-align:center;
  margin-top:0px;
}

.list-group-item {
  color:black;
  font-weight:bold;
  background-color: white;
  cursor: pointer;
}
